@import url('themes.css');
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url('/res/fonts/Roboto-Light.woff2') format('woff2');
	unicode-range: U+0000-00FF;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url('/res/fonts/Roboto-Thin.woff2') format('woff2');
	unicode-range: U+0000-00FF;
}

html, body { height: 100%; }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: default;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
}

#background-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;

	opacity: 100;
	background-position: center center;
	background-size: cover;
}
/* #clock {
	font-size: 12em;
	line-height: 1;
	font-weight: 100;
}
#clock > div {
    display: inline-block;
}
#clock .meridiem {
    font-size: 20%;
    font-weight: initial;
    text-transform: uppercase;
    width: 1.5em;
    margin-right: -1.5em;
} */
/* #date {
	font-size: 2.4em;
} */
